@keyframes logo {
   0% {
      background-color: red;
   }

   17% {
      background-color: rgb(255, 0, 179);
   }

   34% {
      background-color: yellow;
   }

   51% {
      background-color: blue;
   }

   68% {
      background-color: green;
   }

   85% {
      background-color: rgb(82, 64, 17);
   }

   100% {
      background-color: red;
   }
}

@keyframes logo-text {
   0% {
      color: #fff;
   }

   14% {
      color: red;
   }

   28% {
      color: rgb(255, 0, 179);
   }

   42% {
      color: yellow;
   }

   56% {
      color: blue;
   }

   70% {
      color: green;
   }

   85% {
      color: rgb(82, 64, 17);
   }

   100% {
      color: #fff;
   }
}

@keyframes blob-sky {
   0% {
      background-color: $features__circle_color_sky;

   }

   17% {
      background-color: $features__circle_color_sapphire;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_blue;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_brown;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_red;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_purple;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_sky;
   }
}

@keyframes blob-sapphire {
   0% {
      background-color: $features__circle_color_sapphire;

   }

   17% {
      background-color: $features__circle_color_blue;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_brown;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_red;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_purple;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_sky(82, 64, 17);
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_sapphire;
   }
}

@keyframes blob-blue {
   0% {
      background-color: $features__circle_color_blue;

   }

   17% {
      background-color: $features__circle_color_brown;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_red;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_purple;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_sky;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_sapphire;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_blue;
   }
}

@keyframes blob-brown {
   0% {
      background-color: $features__circle_color_brown;

   }

   17% {
      background-color: $features__circle_color_red;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_purple;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_sky;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_sapphire;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_blue;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_brown;
   }
}

@keyframes blob-red {
   0% {
      background-color: $features__circle_color_red;

   }

   17% {
      background-color: $features__circle_color_purple;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_sky;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_sapphire;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_blue;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_brown(82, 64, 17);
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_red;
   }
}

@keyframes blob-purple {
   0% {
      background-color: $features__circle_color_purple;

   }

   17% {
      background-color: $features__circle_color_sky;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_sapphire;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_blue;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_brown;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_red;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_purple;
   }
}

@keyframes blob-yellow {
   0% {
      background-color: $features__circle_color_yellow;

   }

   17% {
      background-color: $features__circle_color_sky;
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

   }

   34% {
      background-color: $features__circle_color_sapphire;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;

   }

   51% {
      background-color: $features__circle_color_blue;
      border-radius: 28% 72% 44% 56%/ 49% 40% 60% 75%;

   }

   68% {
      background-color: $features__circle_color_brown;
      border-radius: 40% 60% 70% 30%/ 47% 62% 38% 53%;
   }

   85% {
      background-color: $features__circle_color_red;
      border-radius: 73% 27% 26% 38%/ 73% 36% 64% 27%;
   }

   100% {
      background-color: $features__circle_color_yellow;
   }
}