@keyframes logo {
   0% {
      background-color: red;
   }

   17% {
      background-color: rgb(255, 0, 179);
   }

   34% {
      background-color: yellow;
   }

   51% {
      background-color: blue;
   }

   68% {
      background-color: green;
   }

   85% {
      background-color: rgb(82, 64, 17);
   }

   100% {
      background-color: red;
   }
}