$primary-color: #ffffff;
$secondary-color: #F0EFEB;
$tertiary-color: rgba(#cccccc, .6);
$footer-text-color: #ffffff;
$text-color: #000000;
$card-outline-color: #fff;
$card-underline-color: rgba(#000000, .3);
$card-bacground-purple: #D9A7E3;
$card-bacground-blue: #88B7E9;
$card-bacground-yellow: #D6B961;

$features__circle_color_sky: #21F7EC;
$features__circle_color_sapphire: #33D3BC;
$features__circle_color_blue: #18A5C6;
$features__circle_color_brown: #D38F62;
$features__circle_color_red: #F94C43;
$features__circle_color_purple: #D399FF;