$primary-color: #ffffff;
$secondary-color: #F0EFEB;
$tertiary-color: rgba(#cccccc, .6);
$footer-text-color: #ffffff;
$text-color: #000000;
$card-outline-color: #fff;
$card-underline-color: rgba(#000000, .3);