.page__interviews {
   margin-top: 200px;
   position: relative;
   padding-bottom: 35px;

   &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 430px;
      // transform: translate(-50%, -50%);
      bottom: 0;
      background-color: $secondary-color;
      z-index: -1;
   }

   @media screen and (max-width: $desktop) {
      margin-top: 140px;
   }
}

.interviews__title {
   margin-bottom: 100px;

   @media screen and (max-width: $desktop) {
      margin-bottom: 50px;
   }
}

.interviews__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.interviews__item {
   margin-right: 100px;
   width: calc((100% - 2 * 100px) / 3);
   display: flex;
   flex-direction: column;
   align-items: center;

   &:last-child {
      margin-right: 0;
   }

   @media screen and (max-width: $desktop) {
      margin-right: 50px;
      width: calc((100% - 2 * 50px) / 3);
   }
}

.interviews-item__img {
   margin-bottom: 35px;
   width: 100%;
}

.interviews-item__title {
   margin-bottom: 40px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 2.2rem;
   line-height: calc(26/22);
   text-align: center;
   letter-spacing: 0.6px;

   // width: 285px;
   @media screen and (max-width: $desktop) {
      font-size: 2rem;
   }
}

.interviews-item__text {
   margin-bottom: 44px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 1.9rem;
   line-height: calc(22/19);
   text-align: center;
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   // width: 251px;
}